* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Global tags */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
  /* padding: 20rem; */
}

span {
  font-size: 0.9rem;
  color: #757575;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

/* Navigation */

nav {
  position: fixed;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

.cs--logo {
  width: 17rem;
  cursor: pointer;
}

nav .navbar {
  display: flex;
}

#menu-btn {
  display: none;
}

#menu-close {
  display: none;
}

nav .navbar ul {
  display: flex;
  justify-self: flex-end;
  align-items: center;
}

nav .navbar ul li {
  list-style: none;
  margin-left: 30px;
}

nav .navbar ul li a {
  text-decoration: none;
  color: #757575;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s ease-in;
}

.navbar ul li a:hover {
  color: #7e5e07;
}

/* About Us page */

.about {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/about-banner.jpg);
  filter: brightness(75%) grayscale(25%);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.about--us {
  max-width: 600px;
  margin: 0 auto;
}

.h1-head {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
}

.auto-input2 {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
}

#welcome {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
}

.welcome-header {
  text-align: center;
  padding: 20px;
}

.welcome-col {
  display: inline-block;
  text-align: left;
}

.dcs-txt {
  padding: 15px 0 25px;
  text-align: justify;
}

.gt-text {
  width: 80%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center;
}

.section {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.organisation-container,
.organisation-text {
  line-height: 2.2rem;
  flex: 1;
  box-sizing: border-box;
}

.organisation-text,
.organisation-text1 {
  box-sizing: border-box;
  box-shadow: 30px;
  padding: 20px;
  background-color: #999797;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.organisation-container {
  padding-right: 20px;
}

.organisation-image {
  width: 80%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.organisation-image:hover {
  transform: scale(0.9);
}

.organisation-text {
  padding-left: 10px;
}

.section1 {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.organisation-text1,
.organisation-container {
  line-height: 2.2rem;
  flex: 1;
  box-sizing: border-box;
}

.organisation-text1 {
  padding-right: 20px;
}

.organisation-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.organisation-image:hover {
  transform: scale(1.2);
}

.organisation-text1,
.about-video {
  flex: 1;
}

.about-video video {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/back.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: white;
  margin-bottom: 60px;
  padding: 0;
}

.cta h4 {
  color: #979797;
  margin-bottom: 40px;
  padding: 0;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
}

.hero-btn:hover {
  border: 1px solid white;
  background: rgb(256, 126, 23);
  transition: 1s;
}
