

/* Styling for Homepage */
* HOME */

#home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

video {
  filter: brightness(40%) grayscale(40%);
}
.video-container {
  position: relative;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

#home h2 {
  color: #fff;
  font-size: 3rem;
  letter-spacing: 1px;
}

#home p {
  width: 50%;
  color: #fff;
  font-size: 1.3rem;
  line-height: 30px;
}

#home .btn {
  margin-top: 30px;
}

#home a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #fff;
  font-weight: 600px;
  border-radius: 5px;
}

#home a.blue {
  color: #fff;
  background: rgb(21, 21, 100);
}

#home a.blue:hover {
  color: rgb(21, 21, 100);
  background: #fff;
  transition: 0.3s;
}

#home a.orange {
  color: white;
  background: rgb(256, 126, 23);
}

#home a.orange:hover {
  color: rgb(256, 126, 23);
  background: #fff;
  transition: 0.4s;
}

#features {
  margin-top: 1vw;
  padding: 8vw 8vw 0 8vw;
  text-align: center;
}

#features .features-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

#features .features-box {
  background-color: #fff;
  text-align: start;
}

#features .features-box i {
  font-size: 2.3rem;
  color: rgb(44, 44, 89);
}

#features .features-box h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(44, 44, 59);
  padding: 13px 0 7px 0;
}

#features .features-box p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(70, 70, 87);
}

/* Courses */
#course {
  margin-top: -3vw;
  padding: 8vw 8vw 5vw 8vw;
  text-align: center;
}

#course .course-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 0.5rem;
  margin-top: 50px;
}

#course .courses {
  text-align: center;
  background: #f9f9ff;
  height: 100%;
}

#course .courses img {
  width: 80%;
  height: 60%;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.courses:hover img {
  transform: scale(0.9);
}

#course .courses .details {
  padding: 15px 15px 0 15px;
}