.auto-input9 {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
}

.phd-txt-p {
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 2rem;
}

#l100,
#l200,
#l300,
#l400 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
