* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.auto-input3 {
  color: #fff;

  font-size: 4rem;
  font-weight: 600;
}

.it-cs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.it-cs-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 1rem;
}

.it-cs-column h1 {
  text-align: center;
}

.undergrad-txt,
.it-cs-progs {
  padding: 1rem;
  margin-top: 1.5rem;
}

.undergrad-txt {
  box-shadow: rgba(45, 45, 87, 0.1) 0px 12px 26px -3px,
    rgba(0, 0, 0, 0.1) 0px 7px 15px -9px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.undergrad-txt-h1-container {
  background-color: #f27f0c;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  padding-left: 1.1rem;
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
  text-align: center;
}

.undergrad-txt-h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.undergrad-txt-p-container {
  padding-left: 2rem;
}

.undergrad-txt-p-container p {
  text-align: justify;
}

.undergrad-txt-p-container ul {
  list-style: none;
  text-align: justify;
  color: rgb(83, 83, 83);
}

.it-cs-h2-container {
  background-color: rgb(69, 69, 199);
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  padding-left: 1.2rem;
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
}

table {
  margin-bottom: 2.3rem;
}

dd {
  margin-inline-start: 0;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: rgba(49, 49, 87, 0.14) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.112) 0px 8px 16px -8px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

dd h4 {
  margin-top: 0;
  text-align: center;
}

dd h6 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

dt {
  padding-top: 1rem;
  padding-left: 1em;
  padding-bottom: 1em;
  margin-bottom: 1rem;
  background-color: #f27f0c;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  cursor: pointer;
}

dt a {
  text-align: center;
  color: white;
  font-weight: 200;
}
